<p><%= @post.body %></p>

<p> Comments </p>
<ul>
	<% @post.comments.each do |comment| %>
		<li><%= comment.body %> 

		<% if current_user == @user %>
		(<%= link_to "DELETE", comment_path(comment), method: "delete" %>)</li>
		<% end %>
	<% end %>
</ul>
